<div id="homepage-content">


    <span class="homepage-links">
      <a href="/products">
        <p>GOODS</p>
      </a>
    </span>

    <span class="homepage-links">
      <a href="#">
        <p>OUTLET</p>
      </a>
    </span>



</div>
