<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Insert Brand Name</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/show.css">
  </head>
  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="/"><p id="homepage-logo">INSERT BRAND NAME</p></a>
    </div>
  </nav>
  <div id="content-container">



      <%= yield %>




  </div>
  <footer>
    <p>&copy; INSERT BRAND NAME 2020</p>
  </footer>
  </body>
</html>
