<p>login page</p>


<form action="/login" method="post">

  <label>
    Username:
    <input type="text" name="username" value="Insert Username">
  </label>

  <label>
    Password:
    <input type="text" name="password" value="Insert Password">
  </label>

  <input type="submit" name="" value="Login">

</form>
