
#dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* pure styling to anchors in drop down content */
#dropdown-content a {
  color: black;
  padding: 0.5em 0.5em;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* change the anchors on hover */
#dropdown-content a:hover {
  background-color: #ddd;
}

/* makes drop down appear */
#nav-wrapper:hover #dropdown-content {
  display: block;
}
