div#product-index {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 1em;
}

span.products {
  border: 1px solid red;
  height: 22em;
  width: 15em;
  margin: 0 1em 1em;
}

.products p {
  display: inline-block;
  margin: 0 1em 0 1em;
}

img.product-images {
  height: 18em;
  width: 13em;
  margin: 0 1em 0 1em;
}
