@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow:700&display=swap');

/* Universal Css */

body {
    position: absolute;
    margin: 0px;
    overflow: auto;
    top: 0px;
    bottom: 0px;
    width: 100%;
}


* {
  font-family: 'Pragati Narrow', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#homepage-logo {
  font-size: 1.5em;
  letter-spacing: 0.5em;
  word-spacing: 0.1em;
  margin: 0.5em;
}

footer {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 2em;
  width: 100%;
  height: 3em;
}


/* homepage*/

#homepage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79vh;
}

.homepage-links {
  height: 20em;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* index page below */

/* div#product-index {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 1em;
}

span.products {
  border: 1px solid red;
  height: 22em;
  width: 20em;
  margin: 0 1em 1em;
}

.products,p {
  display: inline-block;
}

img.product-images {
  height: 18em;
  width: 13em;
} */
