@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow:700&display=swap');

/* Universal Css */

body {
    position: absolute;
    margin: 0px;
    overflow: auto;
    top: 0px;
    bottom: 0px;
    width: 100%;
}


* {
  font-family: 'Pragati Narrow', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#homepage-logo {
  font-size: 1.5em;
  letter-spacing: 0.5em;
  word-spacing: 0.1em;
  margin: 0.5em 0.5em 0 0.5em;
}

#content-container {
  height: 86vh;
}

footer {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 2em;
  height: 3em;
}


/* homepage*/

#homepage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
}

.homepage-links {
  height: 20em;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}
